

/**umb_name:Header 1*/
h1 {
	font-size: 2.5rem;
}

/**umb_name:Header 2*/
h2 {
	font-size: 2rem;
}

/**umb_name:Header 3*/
h3 {
	font-size: 1.75rem;
}

/**umb_name:Blue Text*/
.blueText {
	color: #98A4E9;
}
